@media print {
  body * {
    visibility: hidden;
  }
  .printing-pdf, .printing-pdf * {
    visibility: visible;
  }
  .printing-pdf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}